@import url('https://fonts.googleapis.com/css2?family=Carme&family=Roboto:wght@100;300;700&display=swap');

* {
	font-family: 'Carme', 'sans-serif';
}

:root {
	--color-gris1: #ccc;
	--color-gris2: #aaa;
	--color-gris3: #555555;
	--color-rojo: #f00;
}

body {
	background-color: var(--color-gris1);
}

.encabezado {
	display: inline-block;
	margin: 0px;
	width: 100%;
	background-image: url(imagenes/difusor1.jpg);
	background-size: cover;
	background-position: 90% 20%;
	height: 300px;
}

.encabezado__logo {
	width: 8vw;
	height: 8vw;
	float: left;
	border: 2px solid black;
}

.encabezado__titulo {
	color: #000;
	font-size: 5vw;
	font-weight: bold;
	display: inline-block;
	margin-left: 2vw;
	user-select: none;
}

.encabezado__subtitulo {
	font-size: 2vw;
	font-weight: bold;
	text-align: left;
	margin: 15px 10vw;
	margin-top: 0px;

	/*  display: inline-block;*/
}

.encabezado__texto {
	width: 100%;
	font-size: 15px;
	text-align: center;
	padding: 10px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}

/* FOOTER */
.footer {
	background: var(--color-gris2);
	padding: 30px 0;
}

.footer__title {
	text-align: center;
	padding: 10px 0 30px 0;
}

.footer__grid {
	display: grid;
	grid-template-columns: 1.1fr 1.1fr 1fr 0.8fr;
	justify-items: center;
}

.footer__tel {
	display: flex;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.footer__mail {
	display: flex;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.footer__direccion {
	display: flex;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.footer__redes {
	display: flex;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.footer b {
	display: inline-block;
	padding: 10px 20px;
}

.footer__redes a {
	text-decoration: none;
	color: #000;
	padding: 0px 5px;
}

.link-contacto {
	text-decoration: none;
	color: #000;
}

/*MENU RESPONSIVO*/

.nav__responsive-ul {
	display: none; /*para eliminar el de version movil y que solo quede el menu normal*/
}

.nav {
	background-color: var(--color-gris2);
	z-index: 100000;
	width: 100%;
	font-weight: bold;
	position: relative;
	display: flex;
	justify-content: center;
}

.nav__li {
	display: inline-block;
	padding: 12px;
	color: #fff;
	margin: 0 15px;
}

/*el texto esta como enlace que lleva a otra pagina.*/
.nav__li a {
	color: #000;
	text-decoration: none;
}

/*caracteristica de los iconos*/
.nav__li i {
	box-sizing: border-box;
	text-align: center;
	margin-right: 5px;
}

.nav__li:hover > a {
	/*cuando paso el mouse por los enlaces cambian*/
	color: rgb(255, 2, 2);
	font-size: 1.1em;
	transition: all 1s;
	font-weight: bold;
}

/*ACA MODIFICO EL ICONO AL PASARLE EL MOUSE POR ENCIMA*/
.nav__li:hover {
	color: var(--color-rojo);
}

.nav__responsive-button-container {
	position: absolute;
	width: 100%;
	font-size: 25px;
	background-color: var(--color-gris2);
	margin-top: -74px;
	z-index: 100;
}

.nav__responsive-button {
	padding: 6px 20px;
	text-align: right;
	width: 100%;
}

/* INDEX */

/* SOBRE NOSOTROS */
.nosotros {
	display: grid;
	width: 95%;
	margin: 0 auto;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 10px;
}

.nosotros__text {
	background-color: var(--color-gris2);
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-around;
	text-align: center;
	box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

.nosotros__text p {
	padding: 20px;
}

.nosotros__text__icon {
	font-size: 80px;
	text-align: center;
	margin-bottom: 30px;
}

.datos__index {
	margin-top: 80px;
	display: grid;
	grid-template-rows: 1fr 1fr;
	justify-content: center;
	align-items: center;
}

.datos__texto {
	text-align: center;
}

.datos__button {
	padding: 30px 40px;
}

.datos__texto p {
	margin: 15px;
	padding-bottom: 40px;
}

.datos__texto button {
	font-weight: 700;
	letter-spacing: 3px;
	box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

.datos__texto button:hover {
	border-color: var(--color-rojo);
	color: #fff;
	background-color: var(--color-gris3);
	transition: all 1s;
}
/* SLIDER */

.slider {
	padding: 40px 0;
}

.container {
	width: 100%;
	max-width: 100%;
	min-height: 850px;
	margin: 0 auto;
	overflow: hidden;
}

.slider__container {
	display: grid;
	grid-template-columns: 50px 1fr 50px;
	align-items: center;
	gap: 1em;
}

.slider__body {
	grid-column: 2/3;
	grid-row: 1/2;
	opacity: 0;
	pointer-events: none;
	display: grid;

	/* 	grid-template-columns: 1fr max-content;*/
	align-items: center;
	transition: opacity 1.5s;
}

.slider__body--show {
	opacity: 1;
	pointer-events: unset;
}

.slider__img {
	width: 100%;
	height: 850px;
	object-fit: cover;

	display: block;
	margin: 0 auto;
}

.slider__arrow {
	cursor: pointer;
	width: 90%;
}

.slider__arrow:nth-of-type(2) {
	justify-self: end;
}

/*
.slider__texts {
	max-width: 600px;
}

 .subtitle {
	font-size: 2.5rem;
	margin-bottom: 20px;
}

.slider__review {
	font-weight: 300;
	font-size: 20px;
	line-height: 1.7;
}
 */

/*CATALOGO*/
.titulo {
	margin-top: 55px;
	text-align: center;
	font-weight: bold;
	padding: 20px;
}

.accordion__button {
	display: block;
	width: 100%;
	padding: 15px;
	margin: 15px 0px;
	border: none;
	outline: none;
	cursor: pointer;
	background: var(--color-gris2);
	text-align: left;
	font-weight: bold;
	transform: background 0.2s;
	transition: all 1s;
}

.accordion__button::after {
	content: '\25be';
	float: right;
	transform: scale(1.5);
}

/*para cambiar el color cuando este activo*/
.accordion__button--active {
	background: var(--color-gris3);
	color: #fff;
}
/*para cambiar el icono a "flechita arriba" cuando se despliegue*/
.accordion__button--active::after {
	content: '\25b4';
}

.accordion__content {
	overflow: hidden;
	max-height: 0px;
	transition: max-height 0.2s;
	width: 100%;
	margin: 5px 0px;
	background-color: var(--color-gris2);
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.producto img {
	width: 150px;
	height: 100px;
	border-radius: 5px;
	border: 1px solid #000;
	margin: 10px;
	object-fit: cover;
	object-position: center;
	box-shadow: 4px 3px rgba(0, 0, 0, 0.5);
}

.producto a {
	font-weight: bold;
	text-align: center;
	color: #000;
	text-decoration: none;
	margin: 10px;
}

.producto img:hover {
	border: 2px solid var(--color-rojo);
	transform: scale(1.25);
}

/*SECCION TECNICA*/

.seccion-tecnica h2 {
	text-align: center;
	padding: 10px;
}

.seccion-tecnica h3 {
	text-align: center;
	padding: 10px;
}

.seccion-tecnica h4 {
	padding-top: 50px;
}

.datos-tecnicos {
	width: 90%;
	display: flex;
	flex-direction: column;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}

.datos-tecnicos img {
	width: 600px;
	min-width: 300px;
	height: 500px;
	border: 3px solid #000;
	border-radius: 1%;
}

.datos-tecnicos div {
	width: 95%;
	background-color: var(--color-gris2);
	padding: 10px;
	text-align: center;
	/*border: 1px solid #555;*/
	margin: 20px auto;
}
.datos-tecnicos-rejas img {
	width: 200px;
	height: 150px;
	margin: 5px;
}
/* PUEDE SER:
.datos-tecnicos-rejas img {
  min-width: 200px;
  height: 300px;
  object-fit: contain;
  margin: auto;
}
*/

/*LISTADO DE OBRAS*/

.galeria__grid {
	width: 95%;
	margin: 0 auto;
	display: grid;
	grid-template-areas:
		'img1 img1 img2'
		'img4 img3 img2'
		'img5 img3 img7'
		'img6 img6 img8'
		'img9 img9 img10'
		'img11 img11 img11'
		'img12 img13 img13'
		'img14 img14 img17'
		'img16 img16 img15';

	gap: 10px;
}

.galeria__item {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.galeria__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
	border: 2px solid #000;
}

.galeria__item:nth-of-type(1) {
	grid-area: img1;
}

.galeria__item:nth-of-type(2) {
	grid-area: img2;
}

.galeria__item:nth-of-type(3) {
	grid-area: img3;
}

.galeria__item:nth-of-type(4) {
	grid-area: img4;
}

.galeria__item:nth-of-type(5) {
	grid-area: img5;
}

.galeria__item:nth-of-type(6) {
	grid-area: img6;
}

.galeria__item:nth-of-type(7) {
	grid-area: img7;
}

.galeria__item:nth-of-type(8) {
	grid-area: img8;
}

.galeria__item:nth-of-type(9) {
	grid-area: img9;
}

.galeria__item:nth-of-type(10) {
	grid-area: img10;
}

.galeria__item:nth-of-type(11) {
	grid-area: img11;
	max-height: 450px;
}

.galeria__item:nth-of-type(12) {
	grid-area: img12;
}

.galeria__item:nth-of-type(13) {
	grid-area: img13;
}

.galeria__item:nth-of-type(14) {
	grid-area: img14;
}

.galeria__item:nth-of-type(15) {
	grid-area: img15;
}

.galeria__item:nth-of-type(16) {
	grid-area: img16;
}

.galeria__item:nth-of-type(17) {
	grid-area: img17;
}

.galeria__hover {
	position: absolute;
	background-color: #fc00083f;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 30px;
	transform: translateX(100%);
	transition: transform 0.3s ease-in-out;
}

.galeria__item:hover .galeria__hover {
	transform: translateX(0%);
}

.obra__icon {
	margin-top: 10px;
	font-size: 50px;
}

.listado_obras {
	width: 90%;
	margin: 0 auto;
}

.listado__grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}

/* CONTACTO */
.contacto {
	width: 100%;
}

.contacto__grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	width: 100%;
	height: 100%;
	gap: 10px;
}

.contacto__datos {
	display: flex;
	flex-direction: column;
	margin: 20px auto;
	justify-content: space-around;
	align-items: justify;
	font-size: 20px;
	background-color: var(--color-gris2);
}

.contacto__mapa {
	display: flex;
	margin: 20px auto;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: var(--color-gris2);
}
.contacto__mapa iframe {
	margin: auto;
	border: 3px solid #000;
	width: 100%;
	height: 500px;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 1320px) {
	/* SLIDER */
	.container {
		width: 100%;
		max-width: 1200px;
		min-height: 600px;
		margin: 0 auto;
		overflow: hidden;
	}

	.slider__img {
		width: 100%;
		height: 600px;
		object-fit: cover;
		object-position: 50% 50%;
		display: block;
		margin: 0 auto;
	}
}

@media screen and (max-width: 1024px) {
	/* SLIDER */
	.container {
		width: 95%;
		max-width: 1100px;
		min-height: 500px;
		margin: 0 auto;
		overflow: hidden;
	}

	.slider__img {
		width: 100%;
		height: 500px;
		object-fit: cover;
		object-position: 50% 50%;
		display: block;
		margin: 0 auto;
	}
}

@media screen and (max-width: 940px) {
	body {
		font-size: 16px;
	}
	/* SLIDER */
	.container {
		width: 100%;
		max-width: 1000px;
		min-height: 450px;
		margin: 0 auto;
		overflow: hidden;
	}

	.slider__img {
		width: 100%;
		height: 450px;
		object-fit: cover;
		object-position: 50% 50%;
		display: block;
		margin: 0 auto;
	}
	/* SOBRE NOSOTROS GRID INDEX */

	/* NAV */
	.nav__ul {
		display: none;
	}
	.nav {
		height: 37px;
		width: 100%;
	}
	.nav__responsive-ul {
		display: block;
		position: absolute;
		width: 100%;
		margin-top: 37px;
		padding-top: 37px;
		height: 37px;
	}

	.nav__li-container {
		position: relative;
		top: -1000px;
		/* para que no este hasta que lo actives con el hover*/
		height: calc(100vh - 74px);
		transition: left 1s;
		z-index: 1;
		width: 75%; /*poner al 75% para poder cancelarlo */
	}

	.nav__responsive-li {
		width: 100%;
		padding: 9px 20px;
		background-color: var(--color-gris2);
	}

	.nav__responsive-li:hover > a {
		/*cuando paso el mouse por los enlaces cambian*/
		color: var(--color-rojo);
		font-size: 1em;
		transition: all 1s;
		font-weight: bold;
	}

	/*iconos*/
	.nav__responsive-li i {
		box-sizing: border-box;
		text-align: center;
		margin-right: 5px;
		width: 30px;
		color: #fff;
	}

	/*letras del menu*/
	.nav__responsive-li a {
		color: #000;
		text-decoration: none;
	}

	/*con esto lo hacemos aparecer al tocar las 3 rayitas desde el celular*/
	.nav__responsive-ul:hover > .nav__li-container {
		top: -37px;
	}
}

@media screen and (max-width: 769px) {
	body {
		font-size: 14px;
	}

	/* BANNER */
	.encabezado {
		width: 100%;
		height: 100px;
	}

	.encabezado__logo {
		width: 55px;
		height: 55px;
	}
	.encabezado__titulo {
		font-size: 30px;
		margin-left: 10px;
	}
	.encabezado__subtitulo {
		font-size: 12px;
		margin-left: 65px;
	}
	.encabezado__texto {
		font-size: 10px;
	}

	/* SLIDER */
	.container {
		width: 100%;
		max-width: 700px;
		min-height: 350px;
		margin: 0 auto;
		overflow: hidden;
	}

	.slider__img {
		width: 100%;
		height: 350px;
		object-fit: cover;
		object-position: 50% 50%;
		display: block;
		margin: 0 auto;
	}

	/* SOBRE NOSOTROS INDEX GRID */
	.nosotros {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	/* SECCION TECNICA */
	.datos-tecnicos img {
		min-width: 80%;
		max-height: 400px;
	}

	.datos-tecnicos-rejas img {
		width: 250px;
		height: 150px;
	}

	/* FOOTER */
	.footer__grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		justify-items: center;
	}

	.footer__tel {
		padding-bottom: 30px;
	}

	.footer__mail {
		padding-bottom: 30px;
	}

	.footer__direccion {
		padding-bottom: 30px;
	}

	.footer__redes {
		padding-bottom: 30px;
	}
}

@media screen and (max-width: 600px) {
	/* SLIDER */
	.container {
		width: 100%;
		min-height: 280px;
		margin: 0 auto;
		overflow: hidden;
	}

	.slider__container {
		gap: 0;
	}

	.slider__img {
		width: 100%;
		height: 280px;
		object-fit: cover;
		object-position: 50% 50%;
		display: block;
		margin: 0 auto;
	}

	.slider__arrow {
		width: 70%;
	}
}

@media screen and (max-width: 480px) {
	/* SLIDER */
	.container {
		width: 100%;
		min-height: 200px;
		margin: 0 auto;
		overflow: hidden;
	}

	.slider__container {
		gap: 0;
	}

	.slider__img {
		width: 100%;
		height: 200px;
		object-fit: cover;
		object-position: 50% 50%;
		display: block;
		margin: 0 auto;
	}

	.slider__arrow {
		width: 70%;
	}

	/* SOBRE NOSOTROS INDEX GRID */
	.nosotros {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
	}
}

@media screen and (max-width: 386px) {
}

@media screen and (max-width: 360px) {
	/* SLIDER */
	.container {
		width: 100%;
		min-height: 180px;
		margin: 0 auto;
		overflow: hidden;
	}

	.slider__container {
		gap: 0;
	}

	.slider__img {
		width: 100%;
		height: 180px;
		object-fit: cover;
		object-position: 50% 50%;
		display: block;
		margin: 0 auto;
	}

	.slider__arrow {
		width: 60%;
	}
}
